{% extends 'base.html' %}
{% load static %}

{% block extend_head %}
<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
{% endblock %}

{% block content %}
<h3>Django Google API - Sign Up</h3>
<div class="container">
    <form id="signupform" method="POST" action="/sign-up">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        {{ form.first_name }}

        <label for="last_name">Last Name</label>
        {{ form.last_name }}

        <label for="username">Username</label>
        {{ form.username }}

        <label for="password1">Password</label>
        {{ form.password1 }}

        <label for="password2">Confirm Password</label>
        {{ form.password2 }}

        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>

        <label class="check-container">Show Passwords
            <input type="checkbox" onclick="showPword()">
            <span class="checkmark"></span>
        </label>

        <button type="button" onclick="submitForm()">Sign up</button>
    </form>
</div>
{% endblock %}

{% block extend_footer %}
<script type="text/javascript">
    function showPword() {
        var x = document.getElementById("id_password1");
        var y = document.getElementById("id_password2");
        if (x.type === "password") {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password";
        }
    }

    function submitForm() {
        grecaptcha.ready(function() {
            grecaptcha.execute('{{ recaptcha_site_key }}', {action: 'signup'}).then(function(token) {
                document.getElementById("signupform").submit();
            });
        });
    }
</script>
{% endblock %}
